<!DOCTYPE html>
<html>
	<head>
		<title>
			ALUMNI SYSTEM
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style>
			.nav_cus{
				height: 50px;
			}
			.para-cus{
				padding-left: 18px;
			}
			.para-cus a{
				color: black;
			}
			.para-cus a:hover {
				color: red;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_cus">
			<a class="navbar-brand" href="#">ALUMNI SYSTEM</a>
		</nav>
		<br>
		<div class="para-cus">
		<h3>PASSWORD RESET COMPLETE</h3>
		<p>Your password has been set. You can go ahead and login now.</p>
	<u>	<a href = "{% url 'login' %}">Log in</a></u>
		</div>
	</body>

</html>