<!DOCTYPE html>
<html>
	<head>
		<title>
			ALUMNI SYSTEM
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style>
			.nav_cus{
				height: 50px;
			}
			.para-cus{
				padding-left: 18px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_cus">
			<a class="navbar-brand" href="#">ALUMNI SYSTEM</a>
		</nav>
		<br>
		<div class="para-cus">
		<h3>PASSWORD RESET SENT</h3>
		<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
		<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
	</div>
	</body>

</html>