<!--
<!DOCTYPE html>
<html>
    <head>
        <title>ALUMNI SYSTEM</title>
        <link rel="stylesheet" type="text/css" href=" /> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_cus">
            <a class="navbar-brand" href="#">ALUMNI SYSTEM</a>
        </nav>
        <div class="forgot-block">
         
            <form method="post" class="form-css">
               
                <h1>Update Password</h1>-->
               
              
               <!-- <input type="email" name="email" placeholder="email" autofocus required>
                <input type="password" name="password" placeholder="enter new password" required>
                <input type="password" name="con_password" placeholder="confirm new password" required>-->
        <!--        <button type="submit" name="update password">Update</button>
            </form>
        </div>
        <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Enter Password...';
        form_fields[2].placeholder='Enter Password Again...';
        for (var field in form_fields){ 
            form_fields[field].className += ' form-control'
        }
    </script>
    </body>
</html>-->




{% load static %}
<!--<!DOCTYPE html>
<html>
    <head>
        <title>ALUMNI SYSTEM</title>
        <link rel="stylesheet" href="{% static 'assets/css/forgotstyle.css' %}" /> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_cus">
            <a class="navbar-brand" href="#">ALUMNI SYSTEM</a>
        </nav>
        <div>-->
        <!--<img src="{% static 'images/forgotpassword.png' %}" title="forgot password" id="forgot-image"/>-->
        <!--<div  class="forgot-block">
            <form method="post">
               
                <h1>Forgot Your Password?</h1>-->
              
               <!-- <input type="email" name="email" placeholder="email" autofocus required>
                <input type="password" name="password" placeholder="enter new password" required>
                <input type="password" name="con_password" placeholder="confirm new password" required>-->
              <!--  <button type="submit" name="send email">Send Email</button>
            </form>
        </div>
    </div>
        <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Registered Email...';
        for (var field in form_fields){ 
            form_fields[field].className += ' form-control'
        }
    </script>
    </body>
</html>-->
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <style>
     .form-gap {
    padding-top: 70px;
}
 </style>
</head>
 <div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can update your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                     {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group">
                          <!--<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>-->
                          <!--<input id="email" name="email" placeholder="email address" class="form-control"  type="email">-->
                           {{form.new_password1}}
                        {{form.new_password2}}
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Update Password" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
 <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Enter Password...';
        form_fields[2].placeholder='Enter Password Again...';
        for (var field in form_fields){ 
            form_fields[field].className += ' form-control'
        }
    </script>
    </html>