<!DOCTYPE html>
<html>
    <head>
        <title> ALUMNI SYSTEM </title>
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/userstyle.css" />
    </head>
    <body>
        <div class="bar">
            <img src="images/alumni.png" class="logo" alt="" />
            <div class="box">
               
              <img src="images/pic.png" class="image" alt="" />
                <ul class="text">
                    <li><a href="">USER NAME </a>
                        <ul>
                            <li><a href="profile.html">My Profile</a></li>
                            <li><a href="enquiry_details.html">Notices</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div>
        <div class = "login-blockkkk">
        	 <h2>NOTICES AND EVENTS </h2>
        </div>
        <div class="login-blockkk color">
            <h1>Profile</h1>
            <form action="" method="post">
               
                <input type="email" placeholder="Email*" />
                <input type="tel" placeholder="Contact Number*" />
                 <input type="text" placeholder="Current Job*" />
                <input type="text" placeholder="Address*" />
                <input type="text" placeholder="City*" />
                <input type="text" placeholder="Country*" />
                <input type="number" placeholder="Pincode*" />
                <a href="forgotpassword.html" class="forgot">Change Password</a>
                <button type="submit" name="submit" >Update</button>
            </form>
        </div>
        </div>
    </body>
</html>
